<div>
    <h3 class="text-2xl font-bold">{{ titulo }}</h3>
</div>
<div style="width: 80%;margin:auto!important;">
<div  >
    <form novalidate [formGroup]="prog">
        <div class="grid md:grid-cols-2 md:gap-6">
            <div class="relative z-0 mb-6 w-full group">
                <label for="codigo" class="block mb-2 text-sm font-medium text-gray-900 ">Codigo</label>
                <input type="text" id="codigo" minlength="1" maxlength="4" digitOnlyNumbers formControlName="codigo"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                    placeholder="Código">
            </div>
            <div class="relative z-0 mb-6 w-full group">
                <label for="ruta" class="block mb-2 text-sm font-medium text-gray-900 ">Ruta</label>
                <select id="ruta" formControlName="ruta" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                    <option selected>--Seleccione--</option>
                    <option [value]="item.codigo" *ngFor="let item of listadoRutas">{{item.nombreOrigenN}} -> {{item.nombreDestinoN}}</option>
                </select>
            </div>
        </div>
        <div class="grid md:grid-cols-2 md:gap-6">

            <div class="relative z-0 mb-6 w-full group">
                <label for="fecha" class="block mb-2 text-sm font-medium text-gray-900 ">Fecha</label>
                <input datepicker type="date" formControlName="fecha" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5" 
                placeholder="Fecha">
            </div>

            <div class="relative z-0 mb-6 w-full group">
                <label for="viaje" class="block mb-2 text-sm font-medium text-gray-900 ">Viaje</label>
                <select id="viaje" formControlName="viaje" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                    <option [value]="item.codigo" *ngFor="let item of listadoViajesf">{{item.busS}} - PLACA : {{item.busN}}</option>
                </select>
            </div>
        </div>

        <div class="grid md:grid-cols-2 md:gap-6">
            <div class="relative z-0 mb-6 w-full group">
                <label for="asiento" class="block mb-2 text-sm font-medium text-gray-900 ">Asiento</label>
                <select id="asiento" formControlName="asiento" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                    <option selected>--Seleccione--</option>
                    <option [value]="item.codigo" *ngFor="let item of listadoAsientosf">{{item.numero}} - {{item.posicion}}</option>
                </select>
            </div>
            <div class="relative z-0 mb-6 w-full group">
                <label for="pasajero" class="block mb-2 text-sm font-medium text-gray-900 ">Pasajero</label>
                <select id="pasajero" formControlName="pasajero" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                    <option [value]="item.codigo" *ngFor="let item of listadoUsuarios">{{item.dni}} - {{item.nombre}}</option>
                </select>
            </div>
            <!-- <div class="relative z-0 mb-6 w-full group">
                <label for="ruta" class="block mb-2 text-sm font-medium text-gray-900 ">Ruta</label>
                <select id="ruta" formControlName="ruta" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                    <option selected>--Seleccione--</option>
                    <option [value]="item.codigo" *ngFor="let item of listadoRutas">{{item.nombreOrigenN}} -> {{item.nombreDestinoN}}</option>
                </select>
            </div>
            <div class="relative z-0 mb-6 w-full group">
                <label for="bus" class="block mb-2 text-sm font-medium text-gray-900 ">Bus</label>
                <select id="bus" formControlName="bus" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                    <option selected>--Seleccione--</option>
                    <option [value]="item.codigo" *ngFor="let item of listadoBus">{{item.placa}}</option>
                </select>
            </div> -->
        </div> 
        <div class="grid md:grid-cols-2 md:gap-6">
            <div class="relative z-0 m-auto w-full group">
                <button type="submit" 
                (click)="cancelar()"
                class="  text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center"
                > 
                     Cancel</button>
                <button type="submit" 
                (click)="guardar()"
                class=" ml-4 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">
                    Guardar</button>
            </div>
        </div>
        
    </form>
</div>
</div>